<p id="notice"><%= notice %></p>

<p>
  <strong>Identificationnumber:</strong>
  <%= @lecturer.identificationnumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lecturer.name %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @lecturer.faculty %>
</p>

<p>
  <strong>Department:</strong>
  <%= @lecturer.department %>
</p>


<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
